<div class="table-row" *ngIf="taskdetail">
    <div class="table-cell">{{taskdetail.title}}</div>
    <div class="table-cell">{{taskdetail.description}}</div>
    <div class="table-cell">{{taskdetail.dueDate | date:'medium' }}</div>
    <div class="table-cell">  

          <button type="button" class="btn btn-warning mr-2" style="margin-right:10px" (click)="editTask(taskdetail.id)">
           edit
          </button>
          
          <button type="button" class="btn btn-danger"  (click)="deleteTask(taskdetail.id)">
            delete
          </button>

          <a class="nav-link" routerLink="/tasks/{{taskdetail.id}}/moredetails">more details <span class="sr-only"></span></a>
  </div>
</div>